<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section id="home">
        <h1>WELCOME TO MY HOME PAGE</h1>

            <a href="{{ url_for('manage_employee_account.create_employee') }}">Add Employee</a>
            </br>
            <a href="{{ url_for('manage_groceries.create_grocery') }}">Add Grocery Item</a>

            <form action="{{ url_for('manage_employee_account.logout') }}" method='post'>
                <input type="hidden" name="logout" value="logout">
                <button>Logout</button>
            </form>
    </section>

</body>
</html>